

html, body{
  width: 100%;
  height: 100%;
}

body {
  font-family:sans-serif;
  width: 100%;
  margin:0;
  padding:0;
  background:#111;
  overflow:hidden;
}

#wrapper {
  width: 100%;
  height:100%;
}

.rs-container {
  width: 100%;
  height:100%;
}
