@charset "UTF-8";
.rs-ringpreloader {
  position: absolute;
  z-index: 4000;
  top: 50%;
  left: 50%;
}
.rs-ringpreloader .lds-ring {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.rs-ringpreloader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #AAA transparent transparent transparent;
}
.rs-ringpreloader .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.rs-ringpreloader .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.rs-ringpreloader .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rs-game-overlay {
  background: rgba(15, 15, 15, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.rs-game-panel {
  background-color: #f3d2c5;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
.rs-game-panel .rs-closebtn {
  display: block;
  position: absolute;
  font-size: 38px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background: #111;
  right: 0;
  color: white;
  z-index: 9999;
}

.rs-image-panel {
  background-color: rgba(0, 0, 0, 0);
}
.rs-image-panel img {
  border-radius: 12px;
  cursor: pointer;
}

.rs-game-optionpanel {
  border-radius: 8px;
}
.rs-game-optionpanel .rs-optionitem {
  cursor: pointer;
  text-align: center;
  padding: 8px;
  font-size: 22px;
  transition: 0.25s all ease-out;
  text-transform: uppercase;
}
.rs-game-optionpanel .rs-optionitem:hover {
  background: #eee;
}

.rs-trophy-panel {
  background: #1d1d1d;
  max-width: 500px;
  max-height: 600px;
  border-radius: 18px;
}
.rs-trophy-panel .meta-container {
  width: 100%;
  top: 40px;
  position: absolute;
  text-align: center;
}
.rs-trophy-panel .meta-container span {
  display: block;
  color: white;
  font-size: 20px;
  margin: 8px;
  letter-spacing: 2px;
  user-select: none;
}
.rs-trophy-panel img {
  display: block;
  text-align: center;
  max-width: 300px;
  margin: 8px auto;
  user-select: none;
}
.rs-trophy-panel .level-label {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #111;
  font-size: 32px;
  bottom: 26px;
  user-select: none;
}
.rs-trophy-panel .trophy-container {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.trophy-level-title {
  user-select: none;
  font-family: "Atma", serif;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: 6px;
  margin: 4px;
  border-radius: 50px;
  padding: 6px;
}

.trophy-button-container {
  width: 200px;
  display: flex;
  z-index: 9999;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4px;
  align-content: center;
  justify-content: space-evenly;
  bottom: 18px;
}
.trophy-button-container .rs-fc3d-mainbutton {
  transform: scale(1.15);
}

.rs-fc3d-helppanel {
  max-width: 500px;
  max-height: 450px;
  border-radius: 8px;
}
.rs-fc3d-helppanel .rs-helpcontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rs-fc3d-helppanel .helppanel-content {
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: "Atma", serif;
}
.rs-fc3d-helppanel .help-section {
  padding: 8px;
  text-align: center;
}
.rs-fc3d-helppanel .help-section img {
  display: block;
  margin: 0 auto;
}
.rs-fc3d-helppanel .help-section h3 {
  font-size: 24px;
  margin: 8px;
}

.rs-fc3d-cpanel {
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  font-family: "Atma", serif;
  border-radius: 8px;
}
.rs-fc3d-cpanel p {
  font-size: 24px;
}

/* great-vibes-regular - latin */
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/great-vibes-v8-latin-regular.woff2") format("woff2"), url("fonts/great-vibes-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("fonts/montserrat-v15-latin-italic.woff2") format("woff2"), url("fonts/montserrat-v15-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("fonts/montserrat-v15-latin-300italic.woff2") format("woff2"), url("fonts/montserrat-v15-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* atma-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atma";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/atma-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?7ehtvk");
  src: url("fonts/icomoon.eot?7ehtvk#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?7ehtvk") format("truetype"), url("fonts/icomoon.woff?7ehtvk") format("woff"), url("fonts/icomoon.svg?7ehtvk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e900";
}

.icon-timer:before {
  content: "꤅";
  color: #fff;
}

.icon-hint:before {
  content: "꤆";
}

.icon-mode:before {
  content: "꤇";
}

.icon-setting:before {
  content: "꤈";
}

.icon-home:before {
  content: "꤉";
}

.icon-info:before {
  content: "ꤊ";
}

.icon-quill:before {
  content: "\e907";
}

.icon-stack:before {
  content: "\e92e";
}

.icon-undo:before {
  content: "\e984";
}

.icon-screen-full:before {
  content: "\e98b";
}

.icon-screen-normal:before {
  content: "\e98c";
}

.icon-key:before {
  content: "\e98d";
}

.icon-magic:before {
  content: "\e997";
}

.icon-powerlevel:before {
  content: "\e9b5";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-playtime:before {
  content: "\ea1c";
}

.icon-pausetime:before {
  content: "\ea1d";
}

.icon-sound-on:before {
  content: "\ea27";
}

.icon-sound-off:before {
  content: "\ea2a";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-nextlevel:before {
  content: "\ea34";
}

.icon-flat:before {
  content: "\ea53";
}

.icon-ring:before {
  content: "\ea56";
}

.icon-perspective:before {
  content: "\eae8";
}

body {
  overscroll-behavior-y: contain;
}

.rs-fc3d {
  display: none;
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  box-sizing: border-box !important;
  background: url("fruit-pat.png");
  background-color: #282828;
  user-select: none;
  perspective: 1000px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 574px) {
  .rs-fc3d-movebtn .movebtn-value {
    display: none !important;
  }
  .rs-hscreen-header .app-info {
    display: none !important;
  }
  .rs-hscreen-header .app-progress {
    width: 200px;
  }
}
@media screen and (min-width: 575px) {
  .rs-hscreen-header .app-title {
    font-size: 32px;
    margin-bottom: 6px;
  }
  .rs-hscreen-header .appt-info {
    font-size: 12px;
  }
  .rs-hscreen-header .app-progress {
    width: 200px;
  }
  .trophy-level-title {
    font-size: 18px;
  }
  .rs-fc3d-movebtn .movebtn-value {
    display: inline-block !important;
  }
}
@media screen and (min-width: 576px) {
  .rs-hscreen-header .app-title {
    font-size: 40px;
    margin-bottom: 8px;
  }
  .rs-hscreen-header .appt-info {
    font-size: 16px;
  }
  .rs-hscreen-header .app-progress {
    width: 250px;
  }
  .trophy-level-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .rs-hscreen-header .app-title {
    font-size: 60px;
    margin-bottom: 14px;
  }
  .rs-hscreen-header .appt-info {
    font-size: 20px;
  }
  .rs-hscreen-header .app-progress {
    width: 300px;
  }
  .trophy-level-title {
    font-size: 30px;
  }
}
.rs-hscreen-header {
  position: relative;
}
.rs-hscreen-header .app-logo {
  width: 100px;
  margin: 0 auto;
  margin-top: 32px;
  display: block;
  animation: 1s infinite alternate logo-animation;
  user-select: none;
}
.rs-hscreen-header .app-title {
  font-family: "Atma", serif;
  text-align: center;
  font-weight: 700;
  color: #111111;
  letter-spacing: 6px;
  position: relative;
  user-select: none;
}
.rs-hscreen-header .app-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(51, 51, 51);
  display: block;
  text-align: center;
  user-select: none;
  font-size: 20px;
}
.rs-hscreen-header .app-progress {
  height: 10px;
  margin: 0 auto;
  margin-top: 24px;
  display: block;
  background: #555;
  border-radius: 10px;
}
.rs-hscreen-header .app-progress-inner {
  background: #ffcc00;
  height: 100%;
  border-radius: 10px;
  transition: all 0.35s ease-out;
}

@keyframes logo-animation {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
.rs-hscreenmenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rs-hscreenmenu .menu-list {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.rs-hscreenmenu .menu-item {
  background: #f71e5f;
  font-family: "Atma", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  cursor: pointer;
  padding: 12px;
  margin: 22px;
  border: 2px solid #fff;
  border-radius: 24px;
  transition: all 0.2s ease-out;
}
.rs-hscreenmenu .menu-item:hover {
  color: #111;
  background: #ffcc00;
}

.icon-screen-full:before {
  content: "\e98b";
}

.icon-screen-normal:before {
  content: "\e98c";
}

.rs-fc3d-fsbtn {
  color: #eee;
  position: absolute;
  background: black;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 10px;
  right: 4px;
  z-index: 3000;
  cursor: pointer;
}

.rs-fc3d-gamebuttonbar {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 240px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 8px;
  border-radius: 40px;
  background: rgb(33, 33, 33);
}

.rs-fc3d-mainbutton {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  background: #f3d2c5;
  color: #1a1a1a;
  transition: all 0.1s ease-out;
}
.rs-fc3d-mainbutton:hover {
  background: #eee !important;
}

.rs-fc3d-mainbutton-extra {
  background: #ffcc00 !important;
}
.rs-fc3d-mainbutton-extra:hover {
  background: #eee !important;
}

.rs-fc3d-gamewonbar {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rs-fc3d-gamewonbar img {
  display: block;
  cursor: pointer;
  margin: 0 24px;
  transition: 0.25s all ease-out;
}
.rs-fc3d-gamewonbar img:hover {
  transform: scale(1.15);
}

.button-selected {
  background: #111 !important;
  color: #eee;
}

.rs-fc3d-gameheader {
  font-family: sans-serif;
  max-width: 400px;
  width: 100%;
  height: 50px;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(10, 10, 10, 0.8);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 40px;
}
.rs-fc3d-gameheader .rs-fc3d-timebtn {
  color: #fff;
  font-size: 20px;
}
.rs-fc3d-gameheader .rs-fc3d-timebtn span {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
}
.rs-fc3d-gameheader .rs-fc3d-timebtn .icon-timer {
  background: #333;
}
.rs-fc3d-gameheader .rs-fc3d-timebtn .icon-pausetime {
  font-size: 12px;
}
.rs-fc3d-gameheader .rs-fc3d-timebtn .icon-playtime {
  font-size: 12px;
}
.rs-fc3d-gameheader .rs-fc3d-timebtn .timebtn-value {
  font-size: 14px;
  background: #ffcc00;
  font-family: "Atma", serif;
  color: #111;
  border-radius: 4px;
}
.rs-fc3d-gameheader .rs-fc3d-levelbtn {
  background: #009245;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 4px;
}
.rs-fc3d-gameheader .rs-fc3d-levelbtn span {
  user-select: none;
  display: inline-block;
  padding: 2px;
}
.rs-fc3d-gameheader .rs-fc3d-levelbtn .levelbtn-label {
  font-size: 20px;
  font-family: "Atma", serif;
  padding: 8px;
}
.rs-fc3d-gameheader .rs-fc3d-movebtn {
  color: #fff;
  font-size: 20px;
}
.rs-fc3d-gameheader .rs-fc3d-movebtn span {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
}
.rs-fc3d-gameheader .rs-fc3d-movebtn .icon-magic {
  background: #333;
  font-size: 16px;
}
.rs-fc3d-gameheader .rs-fc3d-movebtn .icon-eye {
  font-size: 12px;
}
.rs-fc3d-gameheader .rs-fc3d-movebtn .movebtn-value {
  font-size: 14px;
  font-family: "Atma", serif;
  background: #ffcc00;
  color: #111;
  border-radius: 4px;
}

/*# sourceMappingURL=fc3d.css.map */
