extends layout

block title
  title 3D Fruit Cards

block append css
  link(rel='stylesheet' href!="css/site-fullwidth.css")

block append script
  script(src="js/require.js" data-main="js/entry.js")

block content

