extends layout-production

block css
  link(rel="stylesheet" href="css/fc3d.prod.min.css")
block title
  title 3D Fruit Cards
block append script
  script(src="js/fc3d.min.js")

block content

block endscript
  script(type='text/javascript').

    document.body.onload = function() {

      "use strict";

      var el = document.querySelector('.rs-fc3d');
      var fc3d = new FruitCard(el);
      window.fc3d = fc3d;
    }

