head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="description" content="3d, photo, gallery, advanced, javascript")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no")
  block css
    link(rel="stylesheet" href="css/app.css")
    link(rel="stylesheet" href="css/fc3d.css")
    link(rel='stylesheet' href!="css/site.css")

  block title
    title 3D Fruit Cards
  block script
    script(src!="js/three.min.js")
    script(src!="js/obc.js")
    script(src!="js/anime.min.js")
